* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: sans-serif;
  text-align: center;
}

.card {
  width: 400px;
  height: auto;
  background: #fff;
  display: inline-block;
  margin: 16px auto;
  text-align: left;
}

.title {
  background: #e3f4ff;
  padding: 15px;
  margin: 10px;
  margin-top: 20px;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding: 15px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px;
  text-align: center;
  padding: 5px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
}